/.venv/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/

/build/
/dist/
*.egg-info/
*.whl

repomix-output*.xml

__pycache__/
*.py[cod]

.env
.env.*
!.env.example

.coverage
coverage.xml
/htmlcov/

.DS_Store
.idea/
.vscode/

normalized.json
